<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <title>Patient Portal</title>
</head>
<body>
    <nav>
        <ul>
            <a href="/patients">
                <button>HOME</button>
            </a>
            <a href="/patients/new">
                <button>NEW PATIENT</button>
            </a>
        </ul>
    </nav>